/*
Theme Name: Soon
Author: David Carroll
Description: Let's get dat Kick Starter babayy!
Version: 1.0
*/

@import "reset.css";

/* LARGE */

body {
	text-align: center;
	color: #333;
	background-color: #fff;
}

a {
	color: #333;
	text-decoration: none;
}
a:hover, a:hover h1 {
	color: #88c443;
}

.replace {
	text-indent: -9999px;
	overflow: hidden;
}

.clear {
	clear: both;
}

.warp {
	width: 100%;
	margin: 0 auto;
}

h1 {
	margin: 80px 0 40px;
	font: 2.6em/1.6em "Press Start 2P", Helvetica, sans-serif;
	color: #333;
}

p {
	font: 1em/1em "Titillium Web", Helvetica, sans-serif;
	color: #999;
}

.logo {
	background: url(/wp-content/themes/soon/img/logo.png) no-repeat;
	background-size: cover;
}
.logo-top {
	width: 120px;
	height: 120px;
	position: absolute;
	top: 20px;
	right: 20px;
}
.logo-bottom {
	width: 250px;
	height: 250px;
	margin: 0 auto 40px;
}

.kickstarter {
	width: 600px;
	height: 190px;
	margin: 0 auto;
	background: url(/wp-content/themes/soon/img/logo-ks.png) no-repeat;
	background-size: cover;
}

.content {
	padding: 5% 0 10%;
}

.hero {
	width: 30%;
	margin: 0 auto;
}
.hero img {
	width: 100%;
}

.photo {
	width: 100%;
	height: auto;
	background-size: cover;
	overflow: hidden;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
.photo img {
	width: 100%;
}

ul.cartridges {
	float: left;
}
ul.cartridges li {
	float: left;
	width: 20%;
	text-transform: uppercase;
}
ul.cartridges li img {
	width: 80%;
	margin: 0 auto;
}

/* MEDIUM */

@media only screen and (max-width: 768px) {
	
	.logo-top {
		display: none;
	}
	
	.hero {
		width: 40%;
	}
	
	.photo {
		height: 400px;
	}
	
	h1 {
		margin: 40px 0 20px;
		font-size: 2em;
	}
	
	ul.cartridges li {
		float: left;
		width: 33%;
		margin: 20px 0 20px;
	}
	
	.logo-bottom {
		width: 180px;
		height: 180px;
	}
	
	.kickstarter {
		width: 500px;
		height: 156px;
	}
}

/* SMALL */

@media only screen and (max-width: 480px) {

	.hero {
		width: 60%;
	}
	
	.photo {
		height: 250px;
	}
	
	h1 {
		margin: 20px 0 10px;
		font-size: 1.2em;
	}
	
	.logo-bottom {
		width: 100px;
		height: 100px;
	}
	
	.kickstarter {
		width: 300px;
		height: 94px;
	}
	
	ul.cartridges li {
		font-size: .6em;
		white-space: nowrap;
	}

}